<div class="container feeddata">
    <div class="row">

      <div class="col-xs-12 col-sm-5 col-md-5">
          <h3>Post your feed using below form.</h3>
          <form class="feed_form">
              <div class="form-group">
                  <input type="text" class="form-control" formControlName="avatar" name="avatar" placeholder=" ex :Image/path.jpg">
              </div>

              <div class="form-group">
                  <input type="name" class="form-control" formControlName="name" name="name" placeholder=" ex : gunti">
              </div>

              <div class="form-group">
                  <textarea rows="5" cols="5" class="form-control" name="message" placeholder="Tell about yourself" formControlName = "message"></textarea>
              </div>

              <div class="form-group">
                 <button type="submit" class="btn btn-primary">Post Feed</button>
              </div>

          </form>
      </div>

      <div class="col-xs-12 col-sm-7 col-md-7">
          <div class="form_data">
              <img>
              <h3></h3>
              <p></p>
            </div>
      </div>
      

      

    </div>
</div>
